.license-responsive-container {
   container-type: inline-size;
   min-width: 470px;
   width: 100%;
}

.license-responsive {
   flex-direction: column;
}

@container (min-width: 1100px) {
   .license-responsive {
      flex-direction: row;
   }
}

a {
   color: LinkText !important;
   color: -webkit-link !important;
   color: -moz-nativehyperlinktext !important;
}
