/* You can add global styles to this file, and also import other style files */

html {
   color:            #000000;
   font-size:        11px;
   font-style:       normal;
   font-family:      var(--font-family);
   letter-spacing:   0.01cm;
   word-spacing:     0.01cm;
   margin:           0;
   padding:          0;
   height:           100%;
}

body {
   background:       #ffffff;
   color:            #000000;
   font-size:        11px;
   font-style:       normal;
   font-family:      var(--font-family);
   letter-spacing:   0.01cm;
   word-spacing:     0.01cm;
   margin:           0;
   padding:          0;
   height:           100%;
}

.c_hdr {
   font-family:      inherit;
   font-style:       normal;
   font-weight:      bold;
   font-size:        14px;
   padding:          3px;
   margin:           5px;
}

.tnb {
   background-color: #ffffff;
   border-collapse:  collapse;
   border-spacing:   0px;
   border-style:     none;
   border-width:     0px;
   padding:          0px;
   margin:           0px;
   font:             inherit;
   text-align:       left;
}

table.tnb > tbody > tr > td {
   border-collapse:  inherit;
   border-style:     none;
   border-width:     0px;
   empty-cells:      show;
   font:             inherit;
}

form {
    font-family:      inherit;
    font-size:        11px;
    margin:           0px;
    padding:          0px;
 }

select {
   font-family:      inherit;
   font-size:        11px;
   font-weight:      normal;
   margin:           2px;
   padding:          0px;
}

input {
   font-family:      inherit;
   font-size:        11px;
   margin:           2px;
   padding:          0px;
}

button {
   font-family: inherit;
}

.lbm {
   padding-bottom: 15px;
}

.error {
   color: firebrick;
   padding: 1rem;
   margin-bottom: 1rem;
   font-weight: bold;
}

.error span {
   padding: 1rem;
   border: 1px solid firebrick;
}

input[type="submit"] {
   padding: .5rem 1rem;
   cursor: pointer;
}